<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Introduction</title>
  </head>

  <body>
    <div style="width:100%;background-color:green">
      <h1 style="color:#cccccc;text-align:center;padding:15px;margin:0px">Hello World</h1>
    </div>

    <div class="" style="background-color:orange;margin:0px">
      <p style="text-align:center"> Name:<span id="name">{{name}}</span>&nbsp&nbsp&nbspID:<span id="ID">{{ID}}</span>&nbsp&nbsp&nbspClass:<span id="class">{{class}}</span></p>
    </div>
  </body>
